@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Variable CSS */

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}

/* Colors */

:root {
  --first-color: #e55947;
  --first-color-alt: #d2321e;
  --white-color: #fafafa;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --grey-color: #f0f1f3;
  --grey-color-alt: #f7f7f7;
  --orange-color: #a08500;
  --orange-color-alt: #ffae00;
}

/* Typography */

:root {
  --body-font: "Open Sans", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --body-font: "Open Sans", sans-serif;
    --big-font-size: 6rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

/* Margin */

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/* z-index */

:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
  background: url(img/backgroundImg.jpg) no-repeat fixed center/cover;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* Class CSS */

.section {
  padding: 3rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--white-color);
  margin: var(--mb-4) 0 var(--mb-4);
  text-align: center;
}

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

/* Layout */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.nav-grid {
  /* max-width: 1024px; */
  display: grid;
  grid-template-columns: 100%;
  /* grid-column-gap: 2rem; */
  width: calc(100% - 2rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.header__component {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white-color);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-card {
  display: flex;
  align-items: center;
}

@media Screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 60%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: all 0.5s ease-out;
  }
  .nav__item {
    margin-bottom: var(--mb-4);
  }
  .nav__link {
    color: var(--dark-color);
    font-weight: var(--font-semi);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  .nav__link:hover {
    color: var(--orange-color);
  }

  .logo {
    width: 25px;
    margin-right: 1em;
  }
  .nav__logo {
    font-weight: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .nav__year {
    font-size: var(--small-font-size);
    text-decoration: line-through;
  }
  .nav__cart {
    font-size: 1.5rem;
    margin-right: var(--mb-2);
    cursor: pointer;
  }
  .nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/* Show-Menu */

.show {
  right: 0;
}

.active {
  color: var(--orange-color);
  border-right: var(--orange-color) solid 1px;
}

/* Home */

.home {
  background-color: var(--grey-color-alt);
}

.home__container {
  height: calc(100vh - var(--header-height));
}

.home__data {
  padding: 6rem;
  padding-left: 2rem;
}

.home__title {
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: 0.5rem;
  margin-bottom: 4rem;
}

.home__title span {
  font-size: var(--h1-font-size);
}

.home__img {
  position: absolute;
  width: 350px;
  bottom: 0;
  right: 0;
}

/* buttons */

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--orange-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--dark-color);
  color: var(--orange-color);
}

/*  collection  */

.collection__container {
  grid-gap: 2rem;
}

.collection__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--grey-color);
  transition: 0.3s;
}

.collection__box:hover {
  transform: translateY(-0.5rem);
}

.collection__img {
  width: 200px;
}

.collection__title {
  font-size: var(--h1-font-size);
  line-height: 1.2;
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.collection__subtitle {
  font-size: var(--h2-font-size);
  color: var(--dark-color-light);
}

.collection__view {
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
  opacity: 0;
}

.collection__view:hover {
  text-decoration: underline;
}

/* featured products */

.featured__container {
  row-gap: 2rem;
}

.featured__product {
  transition: 0.3s;
}

.featured__product:hover {
  transform: translateY(-0.5rem);
}

.featured__box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--grey-color);
}

.featured__new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 0.3rem 0.75rem;
  font-size: var(--small-font-size);
}

.featured__data {
  text-align: center;
}

.featured__name {
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
  color: var(--white-color);
  font-weight: var(--font-bold);
}

/* offer section */

.offer__bg {
  background: url("Img/printing.jpg") no-repeat center/cover;
  text-align: center;
}

.offer__data {
  padding: 3.5rem 0.25rem;
  background: rgba(0, 0, 0, 0.7);
  color: var(--white-color);
}

.offer__title {
  font-size: var(--h1-font-size);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

/* Explore section */

.explore__container {
  row-gap: 2rem;
}

.explore__box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--grey-color);
  overflow: hidden;
}

.explore__data {
  text-align: center;
}

.explore__name {
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
  color: var(--white-color);
  font-weight: var(--font-bold);
}

/* footer */

.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.footer__container {
  row-gap: 1.5rem;
  margin-bottom: var(--mb-4);
}

.footer__service__box {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  margin-bottom: var(--mb-1);
  letter-spacing: 0.3rem;
}

.footer__deal {
  margin-bottom: var(--mb-2);
  text-shadow: 1px 1px 1px var(--white-color);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.footer__store {
  width: 100px;
}

.footer__link,
.footer__social {
  color: var(--dark-color-light);
}

.footer__link:hover {
  color: var(--grey-color);
}

.footer__social {
  font-size: 1.3rem;
  margin-right: var(--mb-1);
  font-size: 2.25rem;
}

.footer__social:hover {
  color: var(--grey-color);
}

.footer__copy {
  border-top: 1px solid var(--dark-color-light);
  padding: 3rem;
  text-align: center;
  color: var(--dark-color-light);
  font-size: var(--small-font-size);
}

/* media query */

@media screen and (min-width: 786px) {
  body {
    margin: 0;
  }
  .section-all {
    margin-bottom: var(--mb-4);
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    justify-content: initial;
  }

  .logo {
    width: 50px;
    margin-right: 1em;
  }

  .nav__logo {
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 900;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: flex;
    justify-content: end;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__link {
    font-weight: var(--font-bold);
  }
  .nav__link:hover {
    color: var(--orange-color);
  }
  .nav__toggle {
    position: absolute;
    top: -100%;
  }
  .home__container {
    height: 100vh;
  }
  .home__data {
    padding: 0;
    height: max-content;
    align-self: center;
  }
  .home__title {
    line-height: 0.8;
    letter-spacing: 1.5rem;
  }
  .home__img {
    width: 775px;
  }
  .collection__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: auto;
  }
  .collection__box {
    padding: 0.5rem 3rem 0;
    background-color: var(--white-color);
  }
  .collection__title {
    font-size: 1.125rem;
  }
  .featured__container {
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
  }
  .featured__img {
    width: 400px;
    height: 250px;
    object-fit: cover;
  }
  .offer__data {
    padding: 5rem 0;
  }
  .explore__container {
    grid-template-columns: repeat(3, auto);
  }
  .explore__box {
    background-color: #fafafa;
  }
  .explore__img {
    width: 320px;
    height: 300px;
    object-fit: cover;
  }
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 2rem; */
    /* width: 100%; */
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --body-font: "Open Sans", sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1rem;
    --normal-font-size: 0.75rem;
    --small-font-size: 0.5rem;
  }
  .nav {
    max-width: 100%;
  }
  .home__title span {
    font-size: 1.2rem;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .collection__box {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5em;
  }
  .collection__img,
  .collection__data {
    width: 45%;
  }
}

/* modal img */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 500px;
  max-width: 500px;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
